@import "tailwindcss";
@import "@breadcoop/ui/theme";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  @apply bg-paper-main;
}

/* Additional custom styles can go here */
@theme {
  --color-bread-paper: #fdfaf3;
}

@layer components {
  .lifted-button-container {
    @apply [&>*]:w-full w-full;
  }

  .lifted-button-container button {
    @apply w-full;
  }
}

/* Hide all buttons to select a network */
button[data-testid^="rk-chain-option-"] {
  @apply !hidden;
}

/* Show Gnosis, Sepolia and Foundry since these are the only supported networks */
button[data-testid="rk-chain-option-100"],
button[data-testid="rk-chain-option-11155111"],
button[data-testid="rk-chain-option-31337"] {
  @apply !flex;
}
