@import "tailwindcss";
@import "@breadcoop/ui/theme";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  @apply bg-paper-main;
}

/* Additional custom styles can go here */
@theme {
  --color-bread-paper: #fdfaf3;
}

@layer components {
  .lifted-button-container {
    @apply [&>*]:w-full w-full;
  }

  .lifted-button-container button {
    @apply w-full;
  }

  .chip-transition {
    @apply bg-paper-main hover:bg-[#EA581733] transition-colors;
  }
}

/* Hide all buttons to select a network */
button[data-testid^="rk-chain-option-"] {
  @apply !hidden;
}

/* Show Gnosis, Sepolia and Foundry since these are the only supported networks */
button[data-testid="rk-chain-option-100"],
button[data-testid="rk-chain-option-11155111"],
button[data-testid="rk-chain-option-31337"] {
  @apply !flex;
}


/* TODO:  ===== Remove footer styles when library tailwind issue is fixed  ====== */
footer > div:first-child > div:first-child {
  @apply xl:mb-0;
}

footer > div:nth-child(2) {
  /* @apply border-t border-orange-0 pt-6 flex flex-col justify-between items-center gap-4 md:flex-row md:mx-auto md:max-w-7xl; */
  @apply md:mx-auto md:max-w-7xl;
}

footer > div:first-child > div:first-child > div:nth-child(2) {
  @apply xl:mb-0;
}

footer > div:first-child > div:first-child > div:first-child {
  @apply xl:mb-6;
}
/* ======== END OF TODO ======== */
